archives/unicore/header.haml
<div class="user-guide-container">
<div class="user-guide-sidebar">
<ul class="user-guide-nav nav nav-list" id="user-guide-nav">

:markdown

	<li> [UNICORE URC Installation](#installation)
	<li> [Login Credential Requirements](#loginreqs)
	<li> [Using the URC](#urc)
	<li> [Using the UCC](#ucc)
	<li> [Workflow](#workflow)
	<li> [Running A Serial Job](#serial)
	<li> [Frequently Asked Questions (FAQ)](#faq)

</div>
<!-- user guide begins here -->
<div class="user-guide">

archives/keeneland/header.html
<font color="red"><b>NOTICE: Keeneland is decommissioned from XSEDE as of  December 31, 2014.<p>Keeneland's login nodes will remain online until February 1, 2015.</b></font><hr>
<div class="user-guide-container">
	<div class="user-guide-sidebar">
		<ul class="user-guide-nav nav nav-list" id="user-guide-nav">
			<li> <a href="#overview">System Overview</a></li>
			<li> <a href="#access">System Access</a></li>
			<li> <a href="#computing">Computing Environment</a></li>
			<li> <a href="#transferring">Transferring your files to Keeneland</a></li>
			<li> <a href="#appdev">Application Development</a></li>
			<li> <a href="#running">Running your applications</a></li>
			<li> <a href="#tools">Tools</a></li>
			<li> <a href="#reference">Reference</a></li>
			<li> <a href="#policies">Policies</a> </li>
		</ul>
	</div>
	<!-- user guide begins here -->
	<div class="user-guide">
